@model Lab17.Models.Staff

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Staff</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			Компания
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Company.Name)
		</dd>

		<dt>
			Имя
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			Фамилия
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Surname)
		</dd>

		<dt>
			Должность
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Position)
		</dd>

		<dt>
			Список хобби
		</dt>

		<dd>
			@foreach (var hobby in Model.Hobbies)
			{
				@String.Format("{0}; ", hobby.Name)
			}
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
