@using Lab16.Models;
@model IEnumerable<Staff>

<table>
	<tr>
		<th>Id</th>
		<th>Имя</th>
		<th>Фамилия</th>
		<th>Должность</th>
		<th>Действие</th>
	</tr>
	@foreach (Staff worker in Model)
	{
		<tr>
			<td>@Html.DisplayFor(model => worker.Id)</td>
			<td>@Html.DisplayFor(model => worker.Name)</td>
			<td>@Html.DisplayFor(model => worker.Surname)</td>
			<td>@Html.DisplayFor(model => worker.Position)</td>
			<td>@Html.ActionLink("edit", "Edit", new { id = worker.Id }) @Html.ActionLink("del", "Delete", new { id = worker.Id })</td>
		</tr>
	}
	<tr>
		<td>@Html.ActionLink("add", "Add")</td>
	</tr>
</table>
